<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Sdf Generator</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-xlarge.css" />
	</noscript>
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<body>

	<header class="major" id="major-man">
		<h2>Sdf Generator</h2>
		<p>Tired of seeing lorem ipsum? Make way for sdfasdf...</p>
	</header>

	<!-- Main -->
	<div id="main" class="wrapper style1" style="padding-top:4em;">
		<div class="container">

			<!-- Content -->
			<section id="content">
				<!-- <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a> -->
				<h3>Pronounced 'sfd'</h3>
				<p>f asssdsafdddada asas aa aaaaadfdasss afsdfssssdsasfsddsfaasddffd aassfadfsss assfassfdssdff aaass ad aaadss afdadssffddads ada aasssfsasas as as asdassdaadsfffss aadsdsdassfdfadsfadsfff aaaaasfsassf afsdffs aafddsf assfs aaaaaff aaaaadssssddfsfaassfssssdaa afs asadsassaass as af aasa affssdsssfa aaaassf adsdsd asf aadasf afdsaas add.</p>

				<h3>It literally means no fucking sense</h3>
				<p>s adfdaadasassaas aaf assdddadfaass aas assaa afdfsss aafsdssfassfdfdf as aa assfs aaaadasaadds aasdd addsadfs asfs asafsaa aa affd adas asd assdsss asfs assf afddsfa affsfasdadsfsdsff ad aaa asfd assaa adaf aasdsfdsasfdfsfs aaddsfsfs adsdsdafsadsdssdsa aaf aasadsa adsfsfasssdff asafsfsaaaff asssdsdd asdaf asssssf assf asfsfadssassasa aassf.</p>

				<h3>Quicker than button bashing</h3>
				<p>da affa aasfs asfdfasafass aa asssa asfssdd aaaass aadsasdssdafff aassssaf adassdd adsffsaafasdssass ass affdfassssdfa aasfs asdssaf aasfad adsfsdsdaassfssdsfs addfas adsdsf af aafd add aa af adas aaadfsff aaaf asssdsf afasdsdddssfsdasssaf assadss aasd asdfsf asafsafd adaassdssaa aasf addasdfsfsa affss asdsaassfsds aaadsfdsass aassfaf ad ad.</p>
				<!-- <ul>
					<li>Faucibus orci lobortis ac adipiscing integer.</li>
					<li>Col accumsan arcu mi aliquet placerat.</li>
					<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
					<li>Blandit massa non blandit tempor interdum.</li>
					<li>Lacinia mattis arcu nascetur lobortis.</li>
				</ul> -->
			</section>

		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<section id="five" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>Magna faucibus lorem diam</h2>
					<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
				</header>
				<form method="post" action="#" class="container 50%">
					<div class="row uniform 50%">
						<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address"></div>
						<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special"></div>
					</div>
				</form>
			</div>
		</section>
		<ul class="icons" style="margin-top:5em;">
			<li><a href="https://twitter.com/arrancscott" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
			<!-- <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li> -->
			<li><a href="http://instagram.com/arrancscott/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="https://github.com/arrancscott" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="mailto:arranscott@me.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
			<li><a href="http://arran.it" class="icon alt fa-link"><span class="label">Website</span></a></li>
		</ul>
		<ul class="copyright">
			<li>Made with a keyboard by Arran</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>

</body>
</html>